$white-005   : rgba(255,255,255,0.05);
$white-01    : rgba(255,255,255,0.1);
$white-02    : rgba(255,255,255,0.2);
$white-03    : rgba(255,255,255,0.3);
$white-04    : rgba(255,255,255,0.4);
$white-05    : rgba(255,255,255,0.5);
$white-06    : rgba(255,255,255,0.6);
$white-07    : rgba(255,255,255,0.7);
$white-08    : rgba(255,255,255,0.8);
$white-09    : rgba(255,255,255,0.9);
$white-1     : rgba(255,255,255,1);

$black-005   : rgba(0,0,0,0.05);
$black-01    : rgba(0,0,0,0.1);
$black-02    : rgba(0,0,0,0.2);
$black-03    : rgba(0,0,0,0.3);
$black-04    : rgba(0,0,0,0.4);
$black-05    : rgba(0,0,0,0.5);
$black-06    : rgba(0,0,0,0.6);
$black-07    : rgba(0,0,0,0.7);
$black-08    : rgba(0,0,0,0.8);
$black-09    : rgba(0,0,0,0.9);
$black-1     : rgba(0,0,0,1);


$white       : #fff;
$light       : #eee;
$gainsboro   : #ddd;
$iron        : #ccc;
$silver-sand : #bbb;
$light-gray  : #aaa;
$aluminum    : #999;
$jumbo       : #888;
$monsoon     : #777;
$steel       : #666;
$dark-gray   : #555;
$tautara     : #444;
$mine-shaft  : #333;
$dark        : #222;
$onyx        : #111;
$black       : #000;