body {
	position: relative;

  > main {

    > dialog {
    	position: fixed;
    	top: 50%;
    	right: 50%;
    	bottom: 50%;
    	left: 50%;
    	z-index: 999;
    	width: 1px;
    	height: 1px;
			@include no-select();
			pointer-events: none;

			> div {
				position: fixed;
				z-index: 0;
				overflow: hidden;
				text-align: center;
				@include auto-select();
				pointer-events: auto;

				@include transition-property(opacity, top, right, bottom, left);
				@include transition-duration(500ms);
				@include transition-delay(0ms);
				@include transition-timing-function(ease-in-out);

				> article {
					opacity: inherit;
					width: 30rem;
					margin: 30rem auto 0;
					padding: 2rem;
					color: $white-09;
					text-align: left;
					background-color: $black-08;
					@include border-radius(0.3rem);
					@include box-shadow(0 0 0.5rem 0 $black-04, 0 0 0.1rem 0 $white-08 inset);

					@include transition-property(opacity);
					@include transition-duration(250ms);
					@include transition-delay(0ms);
					@include transition-timing-function(ease-in-out);

					> header {
						padding: 0 0 2rem;

						h3 {
							margin: 0;
							padding: 0;
							font-size: 1.8rem;
							font-weight: 300;
							line-height: normal;
						}
					}

					> form {

						> label {
							display: block;
							margin: 2rem 0;
						}

						> footer {
							margin: 2rem 0 0;
							text-align: right;
							label {
								display: inline-block;
								margin: 0 0 0 1rem;
							}
						}
					}
				}

				&:not(.active) {
					top: 50%;
					right: 50%;
					bottom: 50%;
					left: 50%;
					background-color: transparent;
					opacity: 0;
				}

				&.active {
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: $black-02;
					opacity: 1;
				}

			}
    }
  }
}