<!DOCTYPE html>
<html>
  <head>
{{HEAD}}
    <script src="dist/shim.min.js.gz"></script>
    <script src="dist/zone.min.js.gz"></script>
    <!-- #docregion moduleId -->
    <script>window.module = 'aot';</script>
    <!-- #enddocregion moduleId -->
  </head>
{{BODY}}
  <script src="dist/build.js.gz"></script>
</html>
