    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Elevators</title>
    <link rel="stylesheet" href="src/css/main.css" />
    <link rel="stylesheet" href="src/css/elevators.css" />

    <link rel="icon" href="favicon.ico" />
    <script src="src/js/ie.js"></script>
