<body>
    <header>
      <hgroup>
        <h1><span>dprockcreative.com</span></h1>
        <h2>User Interface &amp; User Experience</h2>
        <h3>Enlightened Ideas : Design In Action</h3>
      </hgroup>
    </header>
    <main>
      <section></section>
    </main>
    <footer>
      <ul>
        <li>
          <a href="mailto:info@dprockcreative.com">David Prock</a>
        </li>
        <li>
          <a href="tel:+14158467942">415.846.7942</a>
        </li>
      </ul>
    </footer>
  </body>
